/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  background: #000000;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  top: 0%;
  /* margin-top: 20px; */

}
.nav_logo {
  padding: 10px 0;
}
.nav_logo img{
  width: 30px;
  margin-right: 10px;
}
.menu_items {
  display: flex;
  list-style: none;
  gap: 20px;
}
a{
  font-weight:bolder;
  font-size:1.8rem;
  color: #fff;
  text-decoration: none;
} 
.join{
  color:  #e5e900;
  display: inline-block;
  position: relative;
  }
  .nv{
    color:  #ffffff;
    display: inline-block;
    position: relative;
  }
.join:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e5e900;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.join:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nv:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nv:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Hero */

.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0 60px;
  gap: 30px;
  justify-content: space-between;
}
.hero .row h1,
.hero .row p {
  color: #fff;
}
.hero .row h1 {
  font-size: 38px;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
}
.buttons {
  display: flex;
  margin-top: 25px;
  gap: 20px;
}
.btn {
cursor: pointer;
transition: all 0.8s ease;
display: inline-block;
padding: .75rem 1.25rem;
border-radius: 10rem;
color: #e5e900;
text-transform: uppercase;
font-size: 1rem;
transition: all .3s;
position: relative;
overflow: hidden;
z-index: 2;
border: 2px solid #e5e900;
background-color: transparent;
}



.btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  border: 0px solid transparent;
  border: none;
  z-index: -2;
}

.btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #e5e900;
  transition: all .6s;
  border-radius: 10rem;
  border: none;
  border: 0px solid transparent;
  z-index: -1;
}

.btn:hover {
  color: #000000;
  border: 2px solid transparent;
}

.btn:hover:before {
  width: 100%;
}
.hero_img {
  width: 100%;
  z-index: 10;
  position: relative;
}
#menu_toggle {
  display: none;
}
#menu_logo{
  display: none;
}
#menu_logo img{
  display: none;
}

.cover1_grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 110vh;
  /* justify-content: center; */
}
.cover1_grid-container .grid-item1{
  border: 0px solid transparent;
  background-image: url(./pic/cover/c1.1.png);
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  /* width: 100%; */
  /* height: auto; */
  /* content: url(./pic/cover/c1.12.jpeg); */


}
.cover1_grid-container .grid-item2{
border: 0px solid transparent;
background-color: #8e8e8e;
position: relative;
 
 }

/* Reponsive */
@media (width < 860px) {
  
  #menu_toggle{
    display: block;
  }
  #menu_logo{
    display: block;
  }
  #menu_logo img{
    display: block;
    width: 25px;
    margin-right: 8px;
  }
  .nav {
    padding: 0 20px;
    background-color: #fff;
    margin-top: 0px;
  }

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a{
    color: #333;
  }
  .nv{
  
  margin-top: 20px;
  color:  #635f5f;
  }
  .nv:after {
    background-color: black;
  }
  #menu_toggle {
    width: 20px;
    cursor: pointer;
  }
  #menu_logo{
    width: 10px;
    cursor: pointer;
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    
  }
  .menu_items #menu_logo {
    position: absolute;
    top: 10px;
    display: block ruby;
    font-size: 24px;
    left: 10px;

  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    min-height: 100vh;
    justify-content: left;
  }
  .hero .row .column {
    width: 100%;
  }
  .nav_logo img{
    display: none;
  }
}

@media (width < 672px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h1 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 10px 16px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    min-height: 105vh;
    justify-content: left;
  }
}

