
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Signika:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(./image/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.booklab{
  font-size: 6rem;
  align-items: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
font-family: 'Signika', sans-serif;
color: #ffffff87;
animation: booklab 1s ease-in-out infinite alternate;
}
.prvbtn{

	padding: 20px;
	margin-left: 20px;
	cursor: pointer;

}
.prvbtn a{
	text-decoration: none;	
	color: #fff;
}


.booklab:hover{
text-shadow: -1px 0 rgb(173, 170, 170), 0 1px rgb(172, 164, 164), 1px 0 rgb(158, 153, 153), 0 -1px rgb(155, 150, 150);
}

.bk-list {
	list-style: none;
	position:inherit;
}

.bk-list li {
	position: relative;
	width: 300px;
	float: left;
	z-index: 1;
	margin: 20px 30px 50px 30px;
  /* margin: 20px; */
	-webkit-perspective: 1800px;
	perspective: 1800px;
  justify-content: center;
  justify-items: center;
  /* padding-left: 40px;
  padding-right: 10px; */
}

.bk-list li:last-child {
	margin-right: 0;
}

.bk-info {
	position: relative;
	margin-top: 440px;
}

.bk-info h3 {
	padding: 25px 0 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-size: 26px;
}

.bk-info h3 span:first-child {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 5px;
	display: block;
	color: #777;
}

.bk-info p {
	line-height: 24px;
	color: #444;
	min-height: 160px;
}

.bk-info button {
	background: #363636;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 3px 15px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
	border-radius: 10px;
}

.bk-info button.bk-active,
.bk-info button:active {
	box-shadow: 
		0 1px 0 rgba(255, 255, 255, 0.8), 
		inset 0 -1px 1px rgba(0,0,0,0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
	background: #ca6c00c9;
	
}

.bk-list li .bk-book {
	position: absolute;
	width: 100%;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
	-webkit-transform: rotate3d(0,1,0,35deg);
	transform: rotate3d(0,1,0,35deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
	display: block;
	position: absolute;
}

.bk-list li .bk-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform: translate3d(0,0,20px);
	transform: translate3d(0,0,20px);
	z-index: 10;
}

.bk-list li .bk-front > div {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li .bk-page {
	-webkit-transform: translate3d(0,0,19px);
	transform: translate3d(0,0,19px);
	display: none;
	width: 295px;
	height: 390px;
	top: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
	width: 300px;
	height: 400px;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
	width: 40px;
	left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
	width: 295px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
	border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0,1,0,-179deg);
	transform: rotate3d(0,1,0,-179deg);
}

.bk-list li .bk-right {
	height: 390px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-left {
	height: 400px;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}

.bk-list li .bk-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-viewback {
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
	background-color: #fff;
}

.bk-list li .bk-front > div {
	border-radius: 0 3px 3px 0;
	box-shadow: 
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: -1px;
	width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,0.06);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
	left: auto;
	right: 10px;
}

.bk-left h2 {
	width: 400px;
	height: 40px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg) translateY(-40px);
	transform: rotate(90deg) translateY(-40px);
}

.bk-content {
	position: absolute;
	top: 30px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding: 30px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	cursor: default;
}

.bk-content-current {
	opacity: 1;
	pointer-events: auto;
}

.bk-content p {
	padding: 0 0 10px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bk-page nav {
	display: block;
	text-align: center;
	margin-top: 20px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

.bk-page nav span {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #aaa;
	background: #f0f0f0;
	border-radius: 50%;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
	background-color: #ffffffcc;

}

.book-1 .bk-cover {
	background-image: url(./image/c1.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-1 .bk-back{
	background-color: #c0b7b7;

}
.book-1 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-1 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book  */
.book-2 .bk-front > div,
.book-2 .bk-back,
.book-2 .bk-left,
.book-2 .bk-front:after {
	background-color: #ffffffab;

}

.book-2 .bk-cover {
	background-image: url(./image/c2.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-2 .bk-back{
	background-color: rgba(0, 128, 0, 0.801);

}
.book-2 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-2 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 3 */
.book-3 .bk-front > div,
.book-3 .bk-back,
.book-3 .bk-left,
.book-3 .bk-front:after {
	background-color: #ffffffe1;

}

.book-3 .bk-cover {
	background-image: url(./image/c3.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-3 .bk-back{
	background-color: rgba(225, 231, 225, 0.801);

}
.book-3 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-3 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 4 */
.book-4 .bk-front > div,
.book-4 .bk-back,
.book-4 .bk-left,
.book-4 .bk-front:after {
	background-color: #ffffffab;

}

.book-4 .bk-cover {
	background-image: url(./image/c4.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-4 .bk-back{
	background-color: rgba(225, 231, 225, 0.801);

}
.book-4 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-4 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 5 */
.book-5 .bk-front > div,
.book-5 .bk-back,
.book-5 .bk-left,
.book-5 .bk-front:after {
	background-color: #525050ab;

}

.book-5 .bk-cover {
	background-image: url(./image/c5.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-5 .bk-back{

	background-color: #00000060;


}
.book-5 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-5 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 6 */
.book-6 .bk-front > div,
.book-6 .bk-back,
.book-6 .bk-left,
.book-6 .bk-front:after {
	background-color: #ffffffab;

}

.book-6 .bk-cover {
	background-image: url(./image/c6.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-6 .bk-back{
	background-color: #ffffff;

}
.book-6 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-6 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 7 */
.book-7 .bk-front > div,
.book-7 .bk-back,
.book-7 .bk-left,
.book-7 .bk-front:after {
	background-color: #ffffffab;

}

.book-7 .bk-cover {
	background-image: url(./image/c7.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-7 .bk-back{
	background-color: #ffffffd0;

}
.book-7 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-7 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 8 */
.book-8 .bk-front > div,
.book-8 .bk-back,
.book-8 .bk-left,
.book-8 .bk-front:after {
	background-color: #202020ab;

}

.book-8 .bk-cover {
	background-image: url(./image/c8.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-8 .bk-back{
	background-color: #1b1a1ad0;

}
.book-8 .bk-left h2 {
	color: #ffffff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-8 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 9 */
.book-9 .bk-front > div,
.book-9 .bk-back,
.book-9 .bk-left,
.book-9 .bk-front:after {
	background-color: #db2d2dab;

}

.book-9 .bk-cover {
	background-image: url(./image/c9.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-9 .bk-back{
	background-color: #b82323;

}
.book-9 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-9 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 10 */
.book-10 .bk-front > div,
.book-10 .bk-back,
.book-10 .bk-left,
.book-10 .bk-front:after {
	background-color: #b9191963;

}

.book-10 .bk-cover {
	background-image: url(./image/c10.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-10 .bk-back{
	background-color: #a00000ec;

}
.book-10 .bk-left h2 {
	color: #ffffff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-10 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 11 */
.book-11 .bk-front > div,
.book-11 .bk-back,
.book-11 .bk-left,
.book-11 .bk-front:after {
	background-color: #ffee0486;

}

.book-11 .bk-cover {
	background-image: url(./image/c11.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-11 .bk-back{
	background-color: #ffee047a;
}
.book-11 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-11 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 12 */
.book-12 .bk-front > div,
.book-12 .bk-back,
.book-12 .bk-left,
.book-12 .bk-front:after {
	background-color: #ffffff;

}

.book-12 .bk-cover {
	background-image: url(./image/c12.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-12 .bk-back{
	background-color: #ffffff;

}
.book-12 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-12 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 13 */
.book-13 .bk-front > div,
.book-13 .bk-back,
.book-13 .bk-left,
.book-13 .bk-front:after {
	background-color: #ffffff;

}

.book-13 .bk-cover {
	background-image: url(./image/c13.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-13 .bk-back{
	background-color: #ffffff;

}
.book-13 .bk-left h2 {
	color: #750404;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-13 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 14 */
.book-14 .bk-front > div,
.book-14 .bk-back,
.book-14 .bk-left,
.book-14 .bk-front:after {
	background-color: #ffffff;

}

.book-14 .bk-cover {
	background-image: url(./image/c14.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-14 .bk-back{
	background-color: #ffffff;

}
.book-14 .bk-left h2 {
	color: #3b00c4;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-14 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 15 */
.book-15 .bk-front > div,
.book-15 .bk-back,
.book-15 .bk-left,
.book-15 .bk-front:after {
	background-color: #ffffff;

}

.book-15 .bk-cover {
	background-image: url(./image/c15.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-15 .bk-back{
	background-color: #ffffff;

}
.book-15 .bk-left h2 {
	color: #02f7ff60;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-15 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 16 */
.book-16 .bk-front > div,
.book-16 .bk-back,
.book-16 .bk-left,
.book-16 .bk-front:after {

	background-color: #d4c9c9;

}

.book-16 .bk-cover {
	background-image: url(./image/c16.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-16 .bk-back{

	background-color: #b6b0b0;

}
.book-16 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-16 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 17 */
.book-17 .bk-front > div,
.book-17 .bk-back,
.book-17 .bk-left,
.book-17 .bk-front:after {
	
	background-color: #f6be35;

}

.book-17 .bk-cover {
	background-image: url(./image/c17.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-17 .bk-back{
	background-color: #f6be35;

}
.book-17 .bk-left h2 {
	color: #ffffff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-17 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 18 */
.book-18 .bk-front > div,
.book-18 .bk-back,
.book-18 .bk-left,
.book-18 .bk-front:after {
	background-color: #66336e;

}

.book-18 .bk-cover {
	background-image: url(./image/c18.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-18 .bk-back{

	background-color: #66336e;

}
.book-18 .bk-left h2 {
	color: yellow;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-18 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 19 */
.book-19 .bk-front > div,
.book-19 .bk-back,
.book-19 .bk-left,
.book-19 .bk-front:after {
	background-color:rgb(255, 145, 0) ;

}

.book-19 .bk-cover {
	background-image: url(./image/c19.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-19 .bk-back{

	background-color: rgb(255, 145, 0);

}
.book-19 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-19 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}


/* Book 20 */
.book-20 .bk-front > div,
.book-20 .bk-back,
.book-20 .bk-left,
.book-20 .bk-front:after {
	background-color: #ffffffda;

}

.book-20 .bk-cover {
	background-image: url(./image/c20.jpeg);	
	background-repeat: no-repeat;
	background-size: 300px 400px;
}
.book-20 .bk-back{
background-color: #fff;

}
.book-20 .bk-left h2 {
	color: #000000;
	font-size: 15px;
	line-height: 40px;
	padding-right: 8px;
	text-align: center;
 
}

.book-20 .bk-back p {

	color: #fff;
	font-size: 10px;
	padding: 70px;
	text-align: center;
	font-weight: 700;
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .bk-list li {
    margin: 20px 20px 50px 20px;
  }
}